body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url("DINO IMG/doors.gif");
    
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #555;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

button {
    background-color: #008cba; 
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #005f6b; 
    transform: scale(1.05);
}

button:active {
    background-color: #00444f; 
    transform: scale(0.98);
}
